@model NewsSite.Domain.Entities.News
@{
    ViewData["Title"] = "Удаление новости";
    }

<h1>Удаление новости</h1>

<h3>Вы уверены, что хотите удалить эту новость?</h3>

<div class="card">
    <h4 class="card-title">@Model.TitleRu / @Model.TitleEn</h4>
    <p class="card-subtitle">@Model.PublishedAt.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</p>
</div>

<form asp-area="Admin" asp-controller="News" asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a asp-area="Admin" asp-controller="News" asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>
