@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using NewsSite.Web
@inject IStringLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["Privacy_Title"];
    }

<h1>@Localizer["Privacy_Title"]</h1>

<p>@Localizer["Privacy_Text"]</p>
